@import "tailwindcss";
@media print {
  body {
    background: white !important;
  }

  .print-container {
    display: block !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 8px;
  }
}
@media print {
  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }
}
